# -----------------------------
# Build outputs
# -----------------------------
chkinetup            # ignore main executable
*.exe                # ignore any other exe
*.o                  # ignore object files
*.pdb                # debug symbols
*.ilk                # incremental linker file
*.idb                # MSVC intermediate database

# -----------------------------
# Logs
# -----------------------------
$HOME/log/           # ignore user-specific logs
*.log                # ignore any log files

# -----------------------------
# IDE / Visual Studio files
# -----------------------------
*.user
*.sin
*.suo
*.ncb
*.opensdf
*.sdf
*.vcxproj*
*.vcxproj.filters
# Visual Studio workspace files
.vs/
chkinetup_win/.vs/

# -----------------------------
# Build folders
# -----------------------------
Debug/
Release/
x64/
x86/
